GITLAB_API_URL="https://gitlab.alpinelinux.org"
GITLAB_API_TOKEN=
ELASTICSEARCH_ADDRESS="http://elasticsearch:9200"
ELASTICSEARCH_GITLAB_INDEX_PREFIX="gitlab_teste_"
TIME_WINDOW_START_DATE="2024-02-01"
TIME_WINDOW_END_DATE="2024-02-08"
MAX_USERS=200